if TARGET_LEC_IMX8MP

config SYS_BOARD
	default "lec-imx8mp"

config SYS_VENDOR
	default "adlink"

config SYS_CONFIG_NAME
	default "lec-imx8mp"

config IMX_CONFIG
	default "board/adlink/lec-imx8mp/imximage-8mp-lpddr4.cfg"

config IMX_DDRSIZE
	bool "Define lec-imx8mp DDR Size"
	depends on TARGET_LEC_IMX8MP

choice
	prompt "Select a lec-imx8mp DDR Size"
	depends on IMX_DDRSIZE

	config LPDDR4_2GB
		bool "LPDDR4_2GB"

        config LPDDR4_2GK
		bool "LPDDR4_2GK"

	config LPDDR4_4GB
		bool "LPDDR4_4GB"

	config LPDDR4_8GB
		bool "LPDDR4_8GB"

endchoice

endif
